.viewport {
    position: relative;     
    display: flex;          
    flex: 1 1 0%;           
    flex-direction: column; 

    overflow-x: auto;     
    overflow-y: scroll;    
    scroll-behavior: smooth;

    padding-left: 16px;   
    padding-right: 16px; 
    padding-top: 16px;   
}

.footer {
    position: sticky;
    bottom: 0; 

    margin-left: auto;    
    margin-right: auto;  
    margin-top: auto;   

    display: flex;
    width: 100%;          
    max-width: var(--thread-max-width); 
    flex-direction: column;
    gap: 16px;           

    overflow: visible; 

    border-top-left-radius: 24px; 
    border-top-right-radius: 24px; 

    background: #fff;      
    padding-bottom: 16px;
}

@media (min-width: 768px) {
    .footer {
        padding-bottom: 24px;
    }
}
