.root {}

.codeHeaderRoot {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    padding: 8px 16px;

    font-weight: 600;
    font-size: 14px;

    background: rgba(255, 255, 255, 0.15);
    color: #fff;
}

.codeHeaderLanguage {
    text-transform: lowercase;
}

.codeHeaderLanguage > span {
    font-size: 12px;
}

.h1 {
    margin-bottom: 32px;
    scroll-margin-top: 80px;
    font-weight: 800;
    font-size: 36px;
    letter-spacing: -0.025em;
}
.h1:last-child { margin-bottom: 0; }

.h2 {
    margin-top: 32px;
    margin-bottom: 16px;
    scroll-margin-top: 80px;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: -0.025em;
}
.h2:first-child { margin-top: 0; }
.h2:last-child { margin-bottom: 0; }

.h3 {
    margin-top: 24px;
    margin-bottom: 16px;
    scroll-margin-top: 80px;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: -0.025em;
}
.h3:first-child { margin-top: 0; }
.h3:last-child { margin-bottom: 0; }

.h4 {
    margin-top: 24px;
    margin-bottom: 16px;
    scroll-margin-top: 80px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.025em;
}
.h4:first-child { margin-top: 0; }
.h4:last-child { margin-bottom: 0; }

.h5 {
    margin: 16px 0;
    font-weight: 600;
    font-size: 18px;
}
.h5:first-child { margin-top: 0; }
.h5:last-child { margin-bottom: 0; }

.h6 {
    margin: 16px 0;
    font-weight: 600;
}
.h6:first-child { margin-top: 0; }
.h6:last-child { margin-bottom: 0; }

.p {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 28px;
}
.p:first-child { margin-top: 0; }
.p:last-child { margin-bottom: 0; }

.a {
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 4px;
    color: #7aa2ff;
}

.blockquote {
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    padding-left: 24px;
    font-style: italic;
}

.ul {
    margin: 20px 0;
    margin-left: 24px;
    list-style: disc;
}
.ul > li { margin-top: 8px; }

.ol {
    margin: 20px 0;
    margin-left: 24px;
    list-style: decimal;
}
.ol > li { margin-top: 8px; }

.hr {
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.table {
    margin: 20px 0;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    overflow-y: auto;
}

.th {
    padding: 8px 16px;
    text-align: left;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.08);
}
.th:first-child {
    border-top-left-radius: 8px;
}
.th:last-child {
    border-top-right-radius: 8px;
}
.th[align="center"] { text-align: center; }
.th[align="right"] { text-align: right; }

.td {
    padding: 8px 16px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    border-left: 1px solid rgba(255, 255, 255, 0.15);
}
.td:last-child {
    border-right: 1px solid rgba(255, 255, 255, 0.15);
}
.td[align="center"] { text-align: center; }
.td[align="right"] { text-align: right; }

.tr {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.tr:first-child { border-top: 1px solid rgba(255, 255, 255, 0.15); }

.tr:last-child > td:first-child { border-bottom-left-radius: 8px; }
.tr:last-child > td:last-child { border-bottom-right-radius: 8px; }

.sup > a {
    font-size: 12px;
    text-decoration: none;
}

.pre {
    overflow-x: auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    background: #000;
    padding: 16px;
    color: #fff;
}

.inlineCode {
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.08);
    font-weight: 600;
    padding: 0 6px;
}
