.root {
    display: grid;
    width: 100%;
    gap: 8px;
    padding-bottom: 16px;
}

@media (min-width: 768px) {
    .root {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.item {
    animation-duration: 200ms;
    animation-fill-mode: both;
}

.item:nth-child(n + 3) {
    display: none;
}

@media (min-width: 768px) {
    .item:nth-child(n + 3) {
        display: block;
    }
}

.button {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;

    border-radius: 16px;
    border: 1px solid #2a2a2a;

    padding: 12px 16px;

    text-align: left;
    font-size: 14px;

    transition: background-color 0.15s ease;
}

.button:hover {
    background: #8e8e8e;
}

@media (min-width: 768px) {
    .button {
        flex-direction: column;
    }
}

.title {
    font-weight: 500;
}

.label {
    color: rgba(0, 0, 0, 0.6);
}
