.root {
    display: flex;
    height: 100dvh;
    width: 100%;
    padding-right: 2px;
}

.content {
    flex: 1;
    overflow: hidden;
}

.thread {
    --thread-max-width: 44rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    container-type: inline-size;
    background: #fff;
}           