.root {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

    display: flex;
    width: 100%;
    max-width: var(--thread-max-width);

    flex-grow: 1;
    flex-direction: column;
}

.center {
    display: flex;
    width: 100%;

    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.message {
    display: flex;
    width: 100%;
    height: 100%;

    flex-direction: column;
    justify-content: center;

    padding-left: 16px;
    padding-right: 16px;
}

.title {
    font-weight: 600;
    font-size: 24px;
    animation-duration: 200ms;
    animation-fill-mode: both;
}

.subtitle {
    font-size: 20px;
    animation-duration: 200ms;
    animation-delay: 75ms;
    animation-fill-mode: both;
    
    color: rgba(10, 10, 10, 0.6);
}
